.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
    padding: 0 1rem;
}

ul {
   padding: 0;
   margin: 0;
}

li {
    float: left;
    margin: 0 8px 0 0;
    font-size: 12px;
    color: var(--color-fg-default);
    list-style-type: none;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}

.nav-text {
    color: black;
    margin: 0rem 0.3rem;
}

.count {
    display: block;
    padding: 0px 3px;
    margin: 0rem 0.2rem;
    border-left: 1px solid;
    border-color: rgba(17, 19, 21, 0.15);
}