.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #e0d7d7;
    margin-left: 10%;
    padding: 1.5rem 0rem;
    max-width: 1200px;
    margin: 0.7rem auto;
}